<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Owasp.Osg.Communicator.osgCommBuffer, osgCommunicator" 
                   objectUri="commBuffer" 
                   mode="Singleton"/>
      </service>
      <channels>
        <channel port="9000" ref="http">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
