<configuration>
  <appSettings>
    <add key="ExtensionWhitelistPattern" value="\.(gif|jpg|png|css|js|ico|swf|axd|pdf)$" />
    <add key="StaticCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="UseRandomCSRFTokenName" value="true" />
    <add key="CSRFRandomTokenNameLengthInBytes" value="8" />
    <add key="CSRFTokenLengthInBytes" value="16" />
    <add key="TokenNameSessionIdx" value="CSRFTOKEN_NAME" />
    <add key="TokenValueSessionIdx" value="CSRFTOKEN_VALUE" />
    <add key="SkipDetectOnParameterlessURLRequests" value="true" />
    <add key="CSRFHandlers" value="Org.Owasp.CsrfGuard.Actions.PrintError|Org.Owasp.CsrfGuard.Actions.KillSession|Org.Owasp.CsrfGuard.Actions.RedirectToUrl|Org.Owasp.CsrfGuard.Actions.LogEvent" />
    <add key="CSRFHandlers_RedirectToUrl_Url" value="/CSRFGuardDemo/404.htm" />
    <add key="CSRFHandlers_PrintError_ErrorText" value="&lt;html&gt;&lt;body&gt;&lt;h1&gt;CSRF Detected (no token or invalid token).  Request blocked.&lt;/body&gt;&lt;/html&gt;" />
    <add key="CSRFHandler_pluginFolder" value="plugins/" />
    <!-- valid response filters are:  RegexFilter, JavascriptFilter, HTMLParserFilter -->
    <add key="ResponseFilter" value="Org.Owasp.CsrfGuard.ResponseFilters.JavascriptFilter" />

    <!-- params to implement -->
    <add key="SkipDetectForTheseURLs" value="/junk/nothing.html|/CSRFGuardDemo/blah.aspx" />

  </appSettings>
</configuration>

