
<configuration>
  <appSettings>
	<add key="extensionWhitelistPattern" value="\\.(gif|jpg|png|css|js|ico|swf|axd|pdf)$" />
    <add key="defaultCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="tokenNameSessionIdx" value="CSRFTOKEN_NAME" />
    <add key="tokenValueSessionIdx" value="CSRFTOKEN_VALUE" />
    <add key="useRandomCSRFTokenName" value="true" />
    <add key="staticCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="skipDetectOnParameterlessURLRequests" value="true" />
	<add key="CSRFHandlers" value="org.owasp.csrfguard.Actions.PrintError|org.owasp.csrfguard.Actions.KillSession|org.owasp.csrfguard.Actions.RedirectToUrl|org.owasp.csrfguard.Actions.LogEvent" />
	<add key="CSRFHandlers_RedirectToUrl_Url" value="/CSRFDemoApp/404.htm" />
	<add key="CSRFHandlers_PrintError_ErrorText" value="&lt;html&gt;&lt;body&gt;&lt;h1&gt;CSRF Detected (no token or invalid token).  Request blocked.&lt;/body&gt;&lt;/html&gt;" />
	<add key="CSRFHandler_pluginFolder" value="plugins/" />

    <!-- params to implement -->
    <add key="skipDetectForTheseURLs" value="/junk/nothing.html|/CSRFGuardDemoApp/blah.aspx" />

  </appSettings>
</configuration>
