body {
  background-color: #0052AE;
}


/* LAYOUT */

#container {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

#hdr {
  width: 100%;
  height: 65px;
  background-color: #0052AE;
  background-image: url('images/hdrright.jpg');
  background-position: right;
  background-repeat: no-repeat;
}

#bar {
  padding-left: 10px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  color: #0063D1;
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #E2E2E2;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}

#left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 150px;
  background-color: #fff;
}

/* IE min height hack */

 #content{min-height:400px}
* html #content {height:400px} 
  #content {
  margin-left: 170px;
  background-color: #fff;
}

#content{min-height:400px}
* html #content {height:400px}

#copyrightbar {
  width: 100%;
  height: 40px;
  background: transparent;
  border-top: 1px solid #E2E2E2;
}

/* MAIN NAV */

#nav { 
  width: 150px; 
font-size: 10px; 
font-weight: bold; 
list-style-type: none;
  margin-left: -16px; 
  voice-family: "\"}\"";
  voice-family: inherit;
  margin-left: 0px;
  border: 1; 
  margin: 0;
   padding: 0;
  
}

html>body #nav {
  margin-left: 0px;  /* IE5.x width+position fix ends */
}

#nav ul li
{
list-style-image: none;
}

#nav a
{
display: block;
padding: 3px 5px 3px 5px;
width: 150px;
background-color: #BDBDBD;
border-bottom: 1px solid #fff;
}

#nav a:link, #nav a:visited
{
color: #fff;
text-decoration: none;
}

#nav a:hover
{
background-color: #D5D5D5;
color: #fff;
}

/* TEXT */

h1 {
  margin: 0 0 0 0px;
  font-size: 18px;
  color: #999;
  line-height: 50px;
}

p {
  margin: 0px;
  font-size: 12px;
  color: #666;
  line-height: 18px;
}





/* MAIN NAV */

#nav { 
  width: 150px; 
font-size: 10px; 
font-weight: bold; 
list-style-type: none;
  margin-left: -16px; 
  voice-family: "\"}\"";
  voice-family: inherit;
  margin-left: 0px;
}

html>body #nav {
  margin-left: 0px;  /* IE5.x width+position fix ends */
}

#nav ul li
{
list-style-image: none;
}

#nav a
{
display: block;
padding: 3px 5px 3px 5px;
width: 150px;
background-color: #BDBDBD;
border-bottom: 1px solid #fff;
}

#nav a:link, #nav a:visited
{
color: #fff;
text-decoration: none;
}

#nav a:hover
{
background-color: #D5D5D5;
color: #fff;
}

/* TEXT */

h1 {
  margin: 0 0 0 0px;
  font-size: 18px;
  color: #999;
  line-height: 50px;
}

p {
  margin: 0px;
  font-size: 12px;
  color: #666;
  line-height: 18px;
}

#copyright { font-size: 10px; color: #888; text-align: center; line-height: 25px; }

body {
  margin: 0;
  padding: 0;
 
}


INPUT.RadEButton, BUTTON.RadEButton
{
 border: 0px; 
 margin: 3px; 
 WIDTH: 78px; 
 FONT-FAMILY: Arial; 
 HEIGHT: 23px;
 color: White; 
BACKGROUND-image: url(./images/button.gif);


 background-color: Transparent;
 TEXT-ALIGN: center; 
}
 
.FooterNormalBlack
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #000000;
}





/* Normal Text */
.normal
{
    font-family: Arial;
    font-size:  12px;
     color: #000000;
}

.error
{
    font-family: Arial;
    font-size:  10px;
     color: #ff0000;
}

.adminTitle
{
    font-family: Arial;
    font-size:  24px;
     color: #000000;
}

/* Search panel around data grid */

table.searchPanel
{
	
	
	background-color: #DBF2BB;
}

tr.searchPanel
{
	
	
	background-color: #DBF2BB;
}


/* Normal Text */
.datagridSearchText
{
    font-family: Arial;
    font-size:  12px;
    color: #000000;
}

/* data grid alphabet pager*/
.datagridAlphabetPager
{
    font-family: Arial;
    font-size:  12px;
    color: #000000;
}

A.datagridAlphabetPager:link {
    text-decoration:    none;
    color: #000000;
}

A.datagridAlphabetPager:visited  {
    text-decoration:    none;
    color: #000000;
}

A.datagridAlphabetPager:active   {
    text-decoration:    none;
    color: #000000;
}

A.datagridAlphabetPager:hover    {
    text-decoration:    none;
    color: red;
}

p {
  margin: 20px;
  padding: 0;
  font-family: Arial, Sans-serif;
  font-size: 12px;
  line-height: 22px; 
  text-align: left;
  color: #777;
}

h1 {
 
  padding: 0;
  font-family: Verdana, Arial, Sans-serif;
  font-size: 18px;
  line-height: 36px; 
  text-align: left;
  color: #777;
}

/* TABLE FORMATTING */

table {
 /*  width: 95%; /* 600px is max width for 1024x768 resolution */ 
  font-family: Arial, Sans-serif;
  font-size: 12px;
 
  
}


tr.projsearch {
  height: 50px;
  padding: 0px;
  border: 0;
  background-color: transparent;
}

tr.titles {
  padding: 3px;
  border: 0;
  background-color: #777;
   color: #ffffff;
}

tr.odd {
  padding: 2px;
  border: 0;
  background-color: #fff;
}

tr.even {
  padding: 2px;
  border: 0;
  background-color: #F1F1F1;
}

tr.foot {
  padding: 2px;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: transparent;
}

th {
  padding: 2px;
  font-family: Arial, Sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: left;
}



/* END OF TABLE FORMATTING */

/* Hyperlink */
/* Normal Text */
.hyperlink
{
    font-family: Arial;
    font-size:  13px;
    color: #000000;
}


A.hyperlink:link {
    text-decoration:    none;
    color: #000000;
}

A.hyperlink:visited  {
    text-decoration:    none;
    color: #000000;
}

A.hyperlink:active   {
    text-decoration:    none;
    color: #000000;
}

A.hyperlink:hover    {
    text-decoration:    none;
    color: red;
}


/* */
.menuLink
{
    font-family: Verdana;
    font-size:  13px;
    color: #ffffff;
}


/* Data Grid */
TR.DataGrid_SelectedItemStyle
{
	font-weight: bold;
	Color: Navy;
	background-color: #9CF; 
}

TR.DataGrid_ItemStyle
{
	background-color: #FFFFFF;
   	font-family:Arial;
	font-size: 12px;
	font-weight: normal;
}

TR.DataGrid_AlternateStyle
{
	background-color: #F1FAE4;
	font-family: Arial;
    	font-size: 12px;
    	font-weight: normal;
}

TR.DataGrid_HeaderStyle
{
	color: #ffffff;
	background-color: #0C5A97;
	font-family: Arial;
	font-weight: bold;
    	font-size: 11px;
}

TR.DataGrid_FooterStyle
{
	color: #FFFFFF;
	background-color: #0c5a97;
	font-family: Arial;
	font-weight: bold;
    	font-size: 11px;
}

TR.DataGrid_PagerStyle
{
	background-color: #ffffff;
	font-family: Arial;
	font-weight: bold;
    	font-size: 12px;
	text-align: left;
	color: #000000;
}


TR.DataGrid_PagerStyle:link {
    text-decoration:    none;
    color: #000000;
}

TR.DataGrid_PagerStyle:visited  {
    text-decoration:    none;
    color: #000000;
}



.DataGridTable
{
    BORDER-RIGHT: #6D99FE 1px solid;
    BORDER-TOP: #6D99FE 1px solid;
    BORDER-LEFT: #6D99FE 1px solid;
    BORDER-BOTTOM: #6D99FE 1px solid;
}

/* form elements */
.NormalTextBox
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999999 1px solid; WIDTH: 95px; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none*/
	
}

.NormalButton
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
	BORDER-RIGHT: #d2cac0 1px solid; BORDER-TOP: #d2cac0 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #d2cac0 1px solid; COLOR: #000000; BORDER-BOTTOM: #d2cac0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none*/

}
