<configuration>
  <appSettings>
    <add key="extensionWhitelistPattern" value="\.(gif|jpg|png|css|js|ico|swf|axd|pdf)$" />
    <add key="defaultCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="tokenNameSessionIdx" value="CSRFTOKEN_NAME" />
    <add key="tokenValueSessionIdx" value="CSRFTOKEN_VALUE" />
    <add key="useRandomCSRFTokenName" value="true" />
    <add key="staticCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="skipDetectOnParameterlessURLRequests" value="true" />
    <add key="CSRFHandlers" value="Org.Owasp.CsrfGuard.Actions.PrintError|Org.Owasp.CsrfGuard.Actions.KillSession|Org.Owasp.CsrfGuard.Actions.RedirectToUrl|Org.Owasp.CsrfGuard.Actions.LogEvent" />
    <add key="CSRFHandlers_RedirectToUrl_Url" value="/CSRFGuardDemo/404.htm" />
    <add key="CSRFHandlers_PrintError_ErrorText" value="&lt;html&gt;&lt;body&gt;&lt;h1&gt;CSRF Detected (no token or invalid token).  Request blocked.&lt;/body&gt;&lt;/html&gt;" />
    <add key="CSRFHandler_pluginFolder" value="plugins/" />
    <!-- valid response filters are:  RegexFilter, JavascriptFilter, HTMLParserFilter -->
    <add key="ResponseFilter" value="Org.Owasp.CsrfGuard.ResponseFilters.JavascriptFilter" />

    <!-- params to implement -->
    <add key="skipDetectForTheseURLs" value="/junk/nothing.html|/CSRFGuardDemo/blah.aspx" />

  </appSettings>
</configuration>

