
<configuration>
  <appSettings>
   <add key="extensionWhitelistPattern" value="\\.(gif|jpg|png|css|js|ico|swf|axd|pdf)$" />
    <add key="defaultCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="tokenNameSessionIdx" value="CSRFTOKEN_NAME" />
    <add key="tokenValueSessionIdx" value="CSRFTOKEN_VALUE" />
    <add key="useRandomCSRFTokenName" value="true" />
    <add key="staticCSRFTokenName" value="OWASP_CSRFTOKEN" />
    <add key="skipDetectOnParameterlessURLRequests" value="true" />

    <!-- params to implement -->
    <add key="skipDetectForTheseURLs" value="/junk/nothing.html|/CSRFGuardDemoApp/blah.aspx" />

  </appSettings>
</configuration>
