<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings> 
 <add key="currentVersion" value="v0.88 (Nov 2006)"/>
 <add key="releaseNotesFile" value="releaseNotes.txt"/> 
 <add key="pathToUserProfileDir" value="userProfiles"/>
 <add key="xsltNamespace" value="vuln_report"/> 
 <add key="_pathToProjectFiles"						value="./ORG_Files/"/>   
 <add key="pathToProjectFiles"						value="..\..\..\U-Drive"/>
 <add key="___pathToAuthenticFiles"					value="_AuthenticAndFopFiles"/>
 <add key="pathToReportXsltFiles"					value="_AuthenticAndFopFiles\xslt"/> 
 <add key="pathToSpsFiles"							value="sps"/>
 <add key="pathToXsdFiles"							value="xsd"/>
 <add key="pathToFopEngine"							value="FOP" />
 <add key="projectXmlSchema"						value="xsd\projectXsd.xsd"/>
 <add key="recommendationsXmlSchema"				value="xsd\recommendationsXsd.xsd"/>
 <add key="tempFileFolder"							value="./ORG_temp_Files" />
 <add key="consolidatedReportsFolder"				value="_consolidatedReports" />
 <add key="defaultSpsFile_Findings"					value="defaultFindings.sps"/>
 <add key="defaultSpsFile_Findings_SimpleMode"		value="defaultFindings_SimpleMode.sps"/>
 <add key="defaultSpsFile_Targets"					value="defaultTargets.sps"/>
 <add key="defaultSpsFile_Projects"					value="defaultProjects.sps"/>
 <add key="defaultSpsFile_ExecutiveSummary"			value="defaultExecutiveSummary.sps"/>
 <add key="defaultSpsFile_TargetTasks"				value="defaultTargetTasks.sps"/>
 <add key="defaultSpsFile_Recommendations"			value="recommendationsDatabase.sps"/>
 <add key="defaultSpsFile_IssueTracking_JustItemsAndStatus"			value="defaultIssueTracking_JustItemsAndStatus.sps"/>
 <add key="defaultSpsFile_IssueTracking_WithResolutionInfo"			value="defaultIssueTracking_WithResolutionInfo.sps"/>
 <add key="templateFile_Findings"					value="templates\_templateFinding.zip"/> 
 <add key="templateFile_EmptyProjectXmlFile"		value="templates\_templateFile_EmptyProjectXmlFile.xml"/>
 <add key="templateFile_ConsolidatedProjectXmlFile" value="templates\_templateFile_ConsolidatedProjectXmlFile.xml"/>
 <add key="FO_ReportPdf"							value="xslt\Pdf Reports\FO_ReportPdf.xslt"/>
 <add key="recommendationsDatabase"					value="_recommendationsDatabase\recommendationsDatabase.xml"/>
 <add key="defaultProjectXmlFileName"				value="_projectSummary.xml"/>
 <add key="defaultTargetXmlFileName"				value="_targetSummary.xml"/>
 <add key="defaultExecutiveSummaryXmlFileName"		value="_executiveSummary.xml"/>
 <add key="pathToXslt_TargetDetail"					value="xslt\lib\targetDetail.xslt"/> 
 <add key="pathToXslt_Reports"						value="xslt"/> 
 <add key="pathToPlugIns"							value="plug-ins"/>
	<add key="FindingIdAttributeName"				    value="Issue-id"/>
</appSettings>
</configuration>


