<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
 
  
   <appSettings>
	<add key="databaseConnection" value="Password=b34r;Persist Security Info=True;User ID=portalUser;Initial Catalog=beretta;Data Source=LOCALHOST" />
	<add key="siteRoot" value="http://localhost/beretta/" />
	<add key="outputDir" value="C:\inetSrv\wwwroot\alexProjects\beretta\output\" />

</appSettings>
  
  
  <system.web>
  
	<httpRuntime maxRequestLength="100000" />
   
    <compilation defaultLanguage="c#" debug="true" />
    
    <customErrors mode="RemoteOnly" />
    
    <authentication mode="Windows" />
 
    <authorization>
      <allow users="*" />
    
       
    </authorization>

    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
   
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    
  </system.web>
  
</configuration>