<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings/>
	<system.web>
   
    <!-- SiteGenerator HttpHandler -->
    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
      <add verb="*" path="*" type="Owasp.SiteGenerator.RemapHandler, SiteGenerator_IIS_HttpModule"/>
    </httpHandlers>
    <sessionState cookieless="false" mode="InProc"/>    
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<buildProviders>
				<add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<appSettings>
		<add key="Login_attempts" value="5" />
		<add key="AdminSectionKey" value="1234567890"/>
		<add key="ipAddressOfWebService" value="127.0.0.1" />	
		<add key="FS_HttpModule_XMLRulesDatabase" value="bin" />
		<add key="FS_HttpModule_Validator_FormMappings" value="HacmeBankValidatorNetProject.project" />
		<add key="FS_HttpModule_Validator_Rules" value="DefaultRuleFile.rule" /> 
		<add key="FoundStone_Connection" value="Server=.\SQLEXPRESS;Database=FoundStone_Bank;User Id=sa;password=password1"/> 
  </appSettings>
</configuration>
